/*override bootcards default*/
body {
    padding-top: 0;
    /*background: #D6EBE0;*/
}

/* MENU STYLE */
.header {
    position:fixed;
    top: 0;
    display: block;
    width: 100%;
    z-index: 10;
    border-bottom-color: black;
    border-radius: 0;
}

.home-menu {
    text-align: center;
    background: #333;
}

.pure-menu-link {
    padding: 1em 1em;
}

.pure-menu-item a {
    text-decoration: none;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
    /*text-align: left;*/
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

/*sections*/
#section0 {
    background: url('../img/forest-large.jpg') no-repeat center center fixed;
    background-size: cover;
    /*color: white;*/
}
#section0 img {
    border: 8px solid rgb(25, 71, 117);
}

.contact-text {
    color: white;
}

/* TABLET AND UP */
@media (min-width: 48em) {
    body {
        font-size: 16px;
    }
}