body {
    background-image: url("../img/crossword.png");
}

#loading-screen {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.3);
}

#progress-bar {
    position: absolute;
    display: block;
    top: calc(50% + 110px);
    left: calc(50% - 100px);
    height: 30px;
    width: 200px;
    background: transparent;
    border: 3px solid rgb(0, 153, 255);
    border-radius: 20px;
}

#progress-bar > #progress {
    width: 0%;
    height: 100%;
    border-radius: 20px;
    background: rgba(71, 209, 255, 0.6);
}

#side-presentation {
    display: block;
    background: rgb(30, 30, 30);
    border: 1px solid #AAA;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    top: 25px;
    right: 0;
    margin-right: 10px;
    padding: 10px;
    max-width: 200px;
}

#side-presentation img{
    display: block;
    width: 100%;
    height: auto;
}

#top-presentation {
    display: none;
    background: rgb(30, 30, 30);
    color: #fff;
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 0;
    margin-bottom: 5%;
    padding: 2px;
    width: 100%;
}


#top-secondary {
    display: none;
    padding: 1%;
}

#top-secondary h2 {
    font-size: 16px;
}

#top-secondary p {
    font-size: 12px;
}

#grid-container {
    display: none; /*to be changed on images load*/
}

.grid-item {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    border-bottom: 2px solid #CCC;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    width:  250px;
    font-family: Calluna,Arial,sans-serif;  /*need a better one*/
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.grid-item .card-inner {
  padding: 10px;
}

.grid-item h2 {
    margin: 5px 0px 10px;
    font-size: 24px;
    font-weight: 350;
    color: rgb(146, 77, 8);
}

.grid-item h3 {
    margin: 5px 0px 10px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(146, 77, 8);
    opacity: 0.7;
}

.grid-item p {
    font-family: inherit;
    font-weight: normal;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
}

.contact-links i {
    color: white;
    cursor: pointer;
}
.contact-links i:hover {
    color: rgb(71, 209, 255);
}

/* desktop, laptop, and up*/
@media only screen and (min-width: 1224px) {
    .grid-item p {
        font-size: 2rem;
        line-height: 1.6;
    }
}

/* custom presentation box query */
@media (max-width: 860px) {
    #side-presentation {
        display: none;
    }

    #top-presentation {
        display: block;
    }
}

/* tablet */
@media (min-width: 585px) and (max-width: 1224px) {
    .grid-item p {
        font-size: 1.5rem;
        line-height: 1.6;
    }
}

/* phone */
@media (max-width: 585px) {
    #loading-screen p {
        font-size: 16px;
    }

    .grid-item {
        margin: 1%;
        width:  47%;
        font-size: 10px;
    }

    .grid-item a {
        width: 50%;
    }

}

/* break top for top presentation views */
@media (max-width: 480px) {
    #top-primary {
        display: none;
    }

    #top-secondary {
        display: block;
    }

    .grid-item a {
        font-size: 8px;
    }
}
