body {
    /*padding-top: 0;*/
    background: #F0F0F0;
}

#presentation-box {
    display: block;
    background: rgb(30, 30, 30);
    border: 1px solid #AAA;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: 10px;
    padding: 10px;
    max-width: 200px;

}

#presentation-box img{
    display: block;
    width: 100%;
    height: auto;
}

.grid-item {
    background: #fff;
    border: 1px solid #AAA;
    border-bottom: 3px solid #BBB;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    /*color: rgb(30, 30, 30);*/
    overflow: hidden;
    width:  250px;
    font-family: Calluna,Arial,sans-serif;  /*need a better one*/
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.grid-item h2 {
    margin: 5px 0px 10px;
    font-size: 24px;
    font-weight: 350;
}

.grid-item h3 {
    margin: 5px 0px 10px;
    font-size: 16px;
    font-weight: 700;
}

.grid-item p {
    font-family: inherit;   
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
}

/* MENU STYLE */
.header {
    position:fixed;
    top: 0;
    display: block;
    width: 100%;
    z-index: 10;
    border-bottom-color: black;
    border-radius: 0;
}

.home-menu {
    text-align: center;
    background: rgb(1, 44, 61);
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 300;
    font-size: 120%;
}

.home-menu a {
    padding: 0.8em 0.8em;
    text-decoration: none;
    color: rgb(238, 227, 202);
    line-height: 1.0;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
}

.active a {
    color: rgb(218, 248, 254);
    background: url("../img/underline.png") repeat-x 100% 100% !important;
    background-size: 100% 3px !important;
    white-space: nowrap !important;
}

/*sections*/
#section0 {
    background: url('../img/forest-large.jpg') no-repeat center center fixed;
    background-size: cover;
    /*color: white;*/
}
#section0 img {
    border: 8px solid rgb(25, 71, 117);
}

.mail-form h2 {
    color: rgb(238, 227, 202);
}
.mail-form p,
.mail-form label {
    color: white;
}

.mail-form .mail-field,
.mail-form textarea {
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
}

.mail-form .mail-field {
    width: 20em;
}
.mail-form textarea {
    width: 20em;
    max-width: 20em;
    min-height: 5em;
    max-height: 20em;
}

.contact-links h2 {
    color: rgb(238, 227, 202);
}
.contact-links i {
    color: white;
    cursor: pointer;
}
.contact-links i:hover {
    color: rgb(218, 248, 254);
}

/* TABLET AND UP */
@media (min-width: 48em) {
    body {
        font-size: 16px;
    }
}

/* PHONE */
@media (max-width: 480px) {
    .mail-form .mail-field {
        max-width: 90%;
    }

    .mail-form textarea {
        max-width: 90%;
    }

    #fp-nav {
        display: none;
    }
}