<div class="remodal" data-remodal-id="modal"
  data-remodal-options="hashTracking: false, closeOnOutsideClick: false">

  <button data-remodal-action="close" class="remodal-close"></button>
  <h2>{{title}}</h2>
  <img ng-src="{{ image }}" style="width: 100%;">
  <br><br>
  <p>{{descLong}}</p>
  <p>{{teamDesc}}</p>
  <br>
  <project-card-buttons try-link="tryLink" try-link-desc="tryLinkDesc" source-link="sourceLink" source-link-desc="sourceLinkDesc"></project-card-buttons>
  <br>
  <!-- <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
  <button data-remodal-action="confirm" class="remodal-confirm">OK</button> -->
</div>
