<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(true)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!-- <button type="button" ng-click="close(true)" class="btn btn-calm" data-dismiss="modal">Cancel</button> -->
        <h3 class="modal-title text-center">{{title}}</h3>
      </div>
      <div class="modal-body">
        <img ng-src="{{ image }}" style="width: 100%;">
        <br><br>
        <p>{{descLong}}</p>
        <p>{{teamDesc}}</p>
      </div>
      <project-card-buttons try-link="tryLink" try-link-desc="tryLinkDesc" source-link="sourceLink" source-link-desc="sourceLinkDesc"></project-card-buttons>
      <br>
    </div>
  </div>
</div>
