<!DOCTYPE html>
<html ng-app="portfolioApp">
<head>
	<meta charset="utf-8">
	<title>Jonathan Grangien</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- angular libs -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>

	<!-- Modules -->
	<script src="app/app.js"></script>

	<!-- masonry -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.min.js"></script>

	<!-- angular modal service -->
	<script src="assets/js/angular-modal-service.min.js"></script>

	<!-- sticky-kit -->
	<script src="https://cdn.jsdelivr.net/jquery.sticky-kit/1.1.2/jquery.sticky-kit.min.js"></script>

	<!-- spin js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>

	<!-- Other CSS imports -->
	<link rel="stylesheet" href="assets/font-awesome-4.4.0/css/font-awesome.min.css">

	<!-- Custom css -->
	<link rel="stylesheet" href="assets/css/app.css">

</head>
<body>

	<!-- js initialization -->
	<script>
	$(document).ready(function() {
		$('#side-presentation').stick_in_parent();

		var spinnerOptions = {
		  lines: 11,
		  length: 8,
		  width: 6,
		  radius: 25,
		  scale: 0.8,
		  corners: 0.9,
		  color: '#000',
		  opacity: 0.25,
		  rotate: 0,
		  direction: 1,
		  speed: 2.4,
		  trail: 81,
		  fps: 24,	//"cinematic experience"
		  zIndex: 2e9,
		  className: 'spinner',
		  top: '50%',
		  left: '50%',
		  shadow: true,
		  hwaccel: false,
		  position: 'absolute'
		}
		var target = document.getElementById('loading-screen')
		var spinner = new Spinner(spinnerOptions).spin(target);

		var countImages = $('#grid-container img').size();

		$('#grid-container').imagesLoaded()
		.always( function(){

			// when all images loaded or failed
			$('#loading-screen').fadeOut("fast");
			$('#grid-container').fadeIn("fast");
			spinner.stop();

			// initialize masonry
			$('#grid-container').masonry({
			  itemSelector: '.grid-item',
			  columnWidth: 0		//why and how.
			});
		})
		.progress( function( instance, image ) {
			if(image.isLoaded) {

				// update progress bar
				$(image.img).addClass('loaded');
				var countLoadedImages = $('#grid-container img.loaded').size();
				var width = 100 * (countLoadedImages / countImages) + '%';
				$('#progress-bar > #progress').css({ 'width' : width });
			}
  	});


	});
	</script>

  <!-- initial loading screen with loading spinner -->
	<div id="loading-screen">
		<div id="progress-bar">
			<div id="progress"></div>
		</div>
	</div>


	<!-- side presentation - invisible in phone view-->
	<div id="side-presentation" class="hidden-xs">
		<div ng-controller="PresentationController as prez">
	    	<img src="assets/img/jonathan.png" class="img-circle">
	    	<h2>{{ prez.title }}</h2>
	    	<p>{{ prez.presentationText }}</p>
			<contact-links item="prez"></contact-links>
		</div>
	</div>

	<!-- top presentation - visible in phone view-->
	<div id="top-presentation" class="visible-xs">
		<div ng-controller="PresentationController as prez">
	    	<div class="container">
		    	<div class="row">
				    <div class="col-xs-12">
				    	<h2>{{ prez.title }}</h2>
				    	<p>{{ prez.presentationText }}</p>
						<contact-links item="prez"></contact-links>
				    </div>
			   </div>
		    </div>
		</div>
	</div>

	<!-- masonry tiles -->
  <div id="main-container" class="container">
    <div class="col-sm-10 col-md-offset-1">
	    <div id="grid-container">

		    <!-- projects loop -->
				<div ng-controller="ProjectsController as projects">
			    <div ng-repeat="project in projects.myProjects">
						<div class="grid-item" ng-click="showProjectModal(project.title, project.descLong, project.teamDesc)">
			  			<img ng-src="{{ project.image }}">
							<div class="card-inner">
							<h2>{{ project.title }}</h2>
					  		<p>{{ project.description }}</p>
					  		<!-- <project-card-buttons item="project"></project-card-buttons> -->
							</div>
					 	</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</body>
</html>
