<!DOCTYPE html>
<html ng-app="portfolioApp">
<head>
	<meta charset="utf-8">
	<meta name="google-site-verification" content="JD0lgadG1IGimT9MK2TrxUZkqrSPfyXXGjIVKrW9y7M" />
	<title>Jonathan Grangien</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

	</head>
<body>

	<!-- jQuery crutches, to be replaced by angular functionality -->
	<script>
	$(document).ready(function() {
		var grid;

		$('#side-presentation').stick_in_parent();
		var spinnerOptions = {
		  lines: 11,
		  length: 8,
		  width: 6,
		  radius: 25,
		  scale: 0.8,
		  corners: 0.9,
		  color: '#000',
		  opacity: 0.25,
		  rotate: 0,
		  direction: 1,
		  speed: 3.2,
		  trail: 81,
		  fps: 24,	//"cinematic experience"
		  zIndex: 2e9,
		  className: 'spinner',
		  top: '50%',
		  left: '50%',
		  shadow: true,
		  hwaccel: true,
		  position: 'absolute'
		}
		var target = document.getElementById('loading-screen')
		var spinner = new Spinner(spinnerOptions).spin(target);
		var countImages = $('#grid-container img').size();

		$('#grid-container').imagesLoaded()

		// when all images loaded or failed
		.always( function(){

			$('#loading-screen').css("display", "none");
			spinner.stop();

			// initialize masonry
			grid = $('#grid-container').masonry({
				itemSelector: '.grid-item',
				columnWidth: 0		//why and how.
			});
			
			$('#main-container').css("visibility", "visible");
			$('#side-presentation').css("visibility", "visible");
			grid.masonry();

			if (window.location.hash === "#/resume") {
				$('#grid-container').hide();
				$('#resume-item').addClass("header-item-selected");
			} else {
				$('#portfolio-item').addClass("header-item-selected");
			}

		})
		.progress( function( instance, image ) {
			if(image.isLoaded) {

				// update progress bar
				$(image.img).addClass('loaded');
				var countLoadedImages = $('#grid-container img.loaded').size();
				var width = 100 * (countLoadedImages / countImages) + '%';
				$('#progress-bar > #progress').css({ 'width' : width });
			} else {
				console.log("Image " + image.img.src + " failed to load");
			}
  	});

  	$(window).bind( 'hashchange', function(e) { 
			var anchor = document.location.hash;

			if (anchor === '') {
				$('#grid-container').show();
				$('#portfolio-item').addClass("header-item-selected");
				$('#resume-item').removeClass("header-item-selected");
				grid.masonry();
			}
			
			else if (anchor === '#/resume') {
				$('#grid-container').hide();
				$('#resume-item').addClass("header-item-selected");
				$('#portfolio-item').removeClass("header-item-selected");
			}
    });

	});
	</script>

  <!-- initial loading screen with loading spinner -->
	<div id="loading-screen">
		<div id="progress-bar">
			<div id="progress"></div>
		</div>
	</div>

	<!-- side presentation - invisible in phone view-->
	<div id="side-presentation" class="hidden-xs">
		<div class="ng-cloak" ng-controller="PresentationController as prez">
    	<img src="assets/img/jonathan.png" class="img-circle">
    	<h2>{{ prez.title }}</h2>
    	<p>{{ prez.presentationText }}</p>
			<div id="contact-info">
				<p>{{ prez.mail }}</p>
				<a href="assets/docs/resume.pdf">CV/resume</a>
			</div>
			<contact-links item="prez"></contact-links><br>
		</div>
		<div webgl-trinkets id="trinkets-container" ></div> 
	</div>

	<!-- top presentation - visible in phone view-->
	<div id="top-presentation" class="visible-xs">
		<div ng-controller="PresentationController as prez">
  		<div class="container">
	    	<div class="row">
			    <div class="col-xs-12 ng-cloak">
			    	<h2>{{ prez.title }}</h2>
			    	<p>{{ prez.presentationText }}</p>
						<contact-links item="prez"></contact-links>
			    </div>
		   </div>
	    </div>
		</div>
	</div>

	<div header-bar id="header"></div>

	<!-- main content -->
  <div id="main-container" class="container">
    <div class="col-sm-10 col-md-offset-1">
	    <div id="grid-container">

		    <!-- projects loop -->
				<div ng-controller="ProjectsController as projects">
			    <div ng-repeat="project in projects.myProjects">
						<div class="grid-item" ng-click="showProjectModal(project)">
							<img ng-src="{{ project.image }}">
								<div class="card-inner ng-cloak">
									<h2>{{ project.title }}</h2>
									<p class="visible-xs">{{ project.descShort }}</p>
								</div>
								<div class="grid-mask ng-cloak">
									<div>
										<h2>{{ project.title }}</h2>
										<p>{{ project.descShort }}</p>
									</div>
								</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- CSS imports -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
	<link rel="stylesheet" href="assets/font-awesome-4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/remodal.css">
	<link rel="stylesheet" href="assets/css/remodal-custom-theme.css">
	<link rel="stylesheet" href="assets/css/app.css">

	<!-- angular libs -->
	<script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

	<!-- angular modal service -->
	<script src="assets/js/angular-modal-service.min.js"></script>

	<!-- App -->
	<script src="app/app.js"></script>
	<script src="app/components/presentation/presentationController.js"></script>
	<script src="app/components/projects/projectsController.js"></script>
	<script src="app/components/modal/modalController.js"></script>
	<script src="app/components/headerbar/headerBar.js"></script>
	<script src="app/components/project-card-buttons/projectCardButtons.js"></script>
	<script src="app/components/contact-links/contactLinks.js"></script>
	<script src="app/components/webglTrinkets/webglTrinkets.js"></script>

	<!--WebGL-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js"></script>
	<script src="assets/js/Tween.js"></script>

	<!-- Other JS imports -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.sticky-kit/1.1.2/jquery.sticky-kit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
	<script src="assets/js/remodal.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
