[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

$cardBgColor: #fff;
$cardShadowColor: #CCC;
$cardH2Color: rgb(60, 20, 8);
$cardMaskColor: rgb(179, 255, 217);

$linkIconColor: #000;
$linkIconColorHover: rgb(71, 209, 255);

$screenWidthLargest: 1640px;
$screenWidthMedium: 1200px;
$screenWidthSmall: 730px;
$screenWidthXsmall: 650px;

body {
    /* Background pattern from subtlepatterns.com */
    background: #ffffff url("../img/brushed.png");
}

#loading-screen {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

#progress-bar {
    position: absolute;
    display: block;
    top: calc(50% + 70px);
    left: calc(50% - 75px);
    height: 25px;
    width: 150px;
    background: transparent;
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

#progress-bar > #progress {
    width: 0%;
    height: 100%;
    border-radius: 20px;
    background: rgba(71, 150, 255, 0.6);
}

#side-presentation {
    position: absolute;
    display: block;
    visibility: hidden;
    top: 25px;
    right: 0px;
    margin-right: 5px;
    padding: 10px;
    max-width: 200px;
    min-height: 520px;
    color: #000;

		h2 {font-size: 20px;}
		p {font-size: 14px;}
		img {
			display: block;
			width: 100%;
			height: auto;
		}
}

#contact-info {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 13px;
    padding-bottom: 5px;
    margin: 20px 0;
}


#top-presentation {
    display: none;
    color: #000;
    position: relative;
    top: 0;
    margin-bottom: 5%;
    padding: 2px;
    width: 100%;

    img{width: 100%;}
    h2 {font-size: 18px;}
 		p{font-size: 12px;}

}

#main-container {
    visibility: hidden;
}

.grid-mask {
  	display: block;
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	opacity: 0;
		background-color: $cardMaskColor;
    transition: all 0.2s ease-in-out;

		div {
			position: absolute;
			width: 100%;
			top: 30%;
		}
}

.grid-item {
    background: $cardBgColor;
    border: 1px solid rgba(100, 100, 100, 0.2);
    border-bottom: 2px solid $cardShadowColor;
    border-right: 2px solid $cardShadowColor;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    width:  350px;  /*desktop*/
    font-family: Calluna,Arial,sans-serif;  /*need a better one*/

    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

		img {
			display: block;
			width: 100%;
			height: auto;
			overflow: hidden;
			opacity: 0.9;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}

		.card-inner {
			padding: 10px;
			text-align: center;
		}

 		h2 {
			margin: 5px 0px 10px;
			font-size: 24px;
			font-weight: 350;
			color: $cardH2Color;
			opacity: 0.9;
		}

 		p {
			font-family: inherit;
			font-weight: normal;
			text-rendering: optimizeLegibility;
		}

}

.grid-item:hover {
		cursor: pointer;
}
.grid-item:hover {
		.grid-mask {
			opacity: 0.97;
		}
}

.contact-links i {
    color: $linkIconColor;
    cursor: pointer;
}
.contact-links i:hover {
    color: $linkIconColorHover;
}

/*dynamic width for webgl canvas*/
#trinkets-container canvas {
	width: 100%;
}

/* big desktop screens and up */
@media only screen and (min-width: 1640px) {
    .grid-item p {
        font-size: 2rem;
        line-height: 1.6;
    }

    /*override bootstrap, better view for masonry tiles*/
    #main-container {
        width: 85%;
        max-width: 1400px;
    }
}

/* smaller desktop screens */
@media (min-width: 1200px) and (max-width: 1640px) {
    .grid-item {
			width: 250px;
			p {
				font-size: 2rem;
				line-height: 1.6;
			}
		}

    /*override bootstrap, better view for masonry tiles*/
    #main-container {
      width: 85%;
      max-width: 1400px;
    }
}

/* tablet */
@media (min-width: 730px) and (max-width: 1224px) {
    .grid-item {
			width:  250px;
			p {
				font-size: 1.5rem;
			}
    }
}

/* auto scaling two column cards break point */
@media (max-width: 730px) {
    .grid-item {
      margin: 1%;
      width:  47%;
      font-size: 10px;
			a {
				width: 50%;
			}
    }

}

/* break for top presentation views */
@media (max-width: 650px) {
    .grid-item a {
        font-size: 8px;
    }
}
