[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none; }

body {
  /* Background pattern from subtlepatterns.com */
  background: white url("../img/brushed.png");
  margin: 0;
  padding-bottom: 80px;
  height: auto; }

#loading-screen {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#header {
  padding: 1.5% 0; }

.header-list {
  padding: 0;
  text-align: center;
  width: 100%; }

.header-list li {
  padding: 0;
  list-style: none;
  display: inline; }

.header-item {
  /*zoom: 1;*/
  vertical-align: middle;
  /*margin: 0;*/
  height: 100%; }

.header-item a {
  color: rgba(30, 30, 30, 0.3);
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  padding: .5em 1em;
  font-weight: 100;
  font-size: 350%; }

.header-item a:hover,
.header-item a:focus {
  text-decoration: none;
  background: none; }

.header-item-selected a {
  color: #ff4081; }

#progress-bar {
  position: absolute;
  display: block;
  top: calc(50% + 70px);
  left: calc(50% - 75px);
  height: 25px;
  width: 150px;
  background: transparent;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px; }

#progress-bar > #progress {
  width: 0%;
  height: 100%;
  border-radius: 20px;
  background: rgba(71, 150, 255, 0.6); }

#side-presentation {
  position: absolute;
  display: block;
  visibility: hidden;
  top: 25px;
  right: 0px;
  margin-right: 5px;
  padding: 10px;
  max-width: 200px;
  min-height: 520px;
  color: #000; }
  #side-presentation h2 {
    font-size: 20px; }
  #side-presentation p, #side-presentation a {
    font-size: 14px; }
  #side-presentation img {
    display: block;
    width: 100%;
    height: auto; }

#contact-info {
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 13px;
  padding-bottom: 5px;
  margin: 20px 0; }

#top-presentation {
  display: none;
  color: #000;
  position: relative;
  top: 0;
  margin-bottom: 5%;
  padding: 2px;
  width: 100%; }
  #top-presentation img {
    width: 100%; }
  #top-presentation h2 {
    font-size: 18px; }
  #top-presentation p {
    font-size: 12px; }

#main-container {
  visibility: hidden; }

.grid-mask {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  background-color: #b3ffd9;
  transition: all 0.2s ease-in-out; }
  .grid-mask div {
    position: absolute;
    width: 100%;
    top: 30%; }

.grid-item {
  background: white;
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-bottom: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
  width: 350px;
  /*desktop*/
  font-family: Calluna,Arial,sans-serif;
  /*need a better one*/
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
  .grid-item img {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    opacity: 0.9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .grid-item .card-inner {
    padding: 10px;
    text-align: center; }
  .grid-item h2 {
    margin: 5px 0px 10px;
    font-size: 24px;
    font-weight: 350;
    color: #3c1408;
    opacity: 0.9; }
  .grid-item p {
    font-family: inherit;
    font-weight: normal;
    text-rendering: optimizeLegibility; }

.grid-item:hover {
  cursor: pointer; }
  .grid-item:hover .grid-mask {
    opacity: 0.97; }

.btn-vibrant {
  background-color: #e0ccff;
  border-color: #ccc; }

.contact-links i {
  color: black;
  cursor: pointer; }

.contact-links i:hover {
  color: #47d1ff; }

/*dynamic width for webgl canvas*/
#trinkets-container canvas {
  width: 100%; }

/* big desktop screens and up */
@media only screen and (min-width: 1640px) {
  .grid-item p {
    font-size: 2rem;
    line-height: 1.6; }

  /*override bootstrap, better view for masonry tiles*/
  #main-container {
    width: 85%;
    max-width: 1400px; } }
/* smaller desktop screens */
@media (min-width: 1200px) and (max-width: 1640px) {
  .grid-item {
    width: 250px; }
    .grid-item p {
      font-size: 2rem;
      line-height: 1.6; }

  /*override bootstrap, better view for masonry tiles*/
  #main-container {
    width: 85%;
    max-width: 1400px; } }
/* tablet */
@media (min-width: 767px) and (max-width: 1200px) {
  .grid-item {
    width: 250px; }
    .grid-item p {
      font-size: 1.5rem; } }
/* auto scaling two column cards break point */
@media (max-width: 767px) {
  .header-item a {
    font-size: 260%;
    padding: 1em 1em; }

  .grid-item {
    margin: 1%;
    width: 47%;
    font-size: 10px; }
    .grid-item a {
      width: 50%; }

  .grid-item:hover .grid-mask {
    opacity: 0; } }
