<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <p>{{descLong}}</p>
        <p>{{teamDesc}}</p>
      </div>
      <div class="modal-footer">
        <project-card-buttons try-link="tryLink" try-link-desc="tryLinkDesc" source-link="sourceLink" source-link-desc="sourceLinkDesc"></project-card-buttons>
        <!-- <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>
